<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaNegocio.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=Turismo;PASSWORD=avaras08;PERSIST SECURITY INFO=True;USER ID=PORTAFOLIO"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>